*{
  margin:0;
  padding:0;
  list-style:none;
  font-family:arial;
  color:#6e736d;
}
#menu-control{
  position:fixed;
  z-index:-2;
  opacity:0;
}
.header{
  position:fixed;
  right:0;
  width:100%;
  height:8%;
  background-color:#ccc;
  z-index:5;
}
#menu-control:checked ~ .header nav{
  left:0;
}
.Home{
  margin-left:3%;
  font-size:280%;
}
.menu-button{
  width:40px; 
  height:40px;
  background-color: #8c7272;
  display:flex;
  position:fixed;
  top:5px;
  right:6px;
}
nav{
  width:100%;
  height:calc(100vh-50px);
  background-color:#fcc;
  position:fixed;
  top:8.5%;  
  left:-100%;
  transition: 0.5s;
}
nav a{
  display:flex;
  color:#fff;
  padding:10px 20px;
  border-top:2px solid #fff;
  border-bottom:2px solid #fff;
  font-size:30px;
  font-family:微軟正黑體;
}


@media screen and (min-width:768px){
  .menu-button{
    display:none;
  }
  .header{
    display:flex;
    justify-content:space-between;
    background-color:#fcc;
    align-items:center;
    z-index:10;
  }
  nav{
    position:relative;
    left:0;
    display:flex;
    width:auto;
    height:auto;
    top:0;
    background-color:transparent;
  }
}
.spot{
  position: fixed;
  top:50%;
  right:0;
  cursor:pointer;
}
li{
  width:10px;
  height:10px; 
  margin: 10px;
  background-color: #e6e6df;
  border-radius: 5px;
  box-shadow: 1px 1px 1px gray inset,-1px -1px 1px gray inset;
  list-style-type: none;
}

.p1{
  background-color:#fff;
  background-size:cover;
  background-repeat: no-repeat;
  height:100vh;
}
.container2 {
  margin-right: 20%;
  display:flex;
  background-color: #eee;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cradle{
  padding: 0 3em 3em;
  border-top: .25em solid #3E2723;
  border-left: .25em solid #3E2723;
  border-right: .25em solid #3E2723;
  border-radius: 3px 3px 0 0;
  transform:scale(1.2,1.2);
}
.cradle-stand{
  height: 1em;
  width: 20em;
  background-color: #3E2723;
  border-radius: 3px;
  transform:scale(1.2,1.2);
}
.balls {
  display: flex;
  transform:scale(1.2,1.2);
}
.strings {
  display: flex;
  transform:scale(1.2,1.2);
}
.item {
  background-color: #424242;
  height: 2em;
  width: 2em;
  border-radius: 50%;
}
.string {
  width: .2em;
  height: 8em;
  background-color: #424242;
  margin: 0 auto;
  
}
.item:nth-child(1){  
  transform-origin: 50% -400%;
  animation: swing1 1s linear infinite;
}
.string:nth-child(1){
  transform-origin: top;
  animation: swing1 1s linear infinite;
}
@keyframes swing1{  
  0%{
    transform: rotate(15deg);
  }  
  25%,75%{
    transform: rotate(0deg);  
  }
  100%{
    transform: rotate(15deg);
  }  
}
.item:nth-child(5){  
  transform-origin: 50% -400%;
  animation: swing5 1s linear infinite;
}
.string:nth-child(5){  
  transform-origin: top;
  animation: swing5 1s linear infinite;
}
@keyframes swing5{
  0%,25%{
    transform: rotate(0deg);
  }  
  50%{
    transform: rotate(-15deg);  
  }
  75%, 100%{
    transform: rotate(0deg);
  }  
}

.p2{
  background-color:#ccc;
  background-size:cover;
  background-repeat: no-repeat;
  height:10vh;
}
.p3{
  background-color:#fff;
  background-size:cover;
  background-repeat: no-repeat;
  height:100vh;
}
.ProductList {
  margin: 20px;
  background: #eee;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap-reverse;
}
.ProductList__item {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform:scale(0.5);
}

.toggle {
    position: absolute;
    filter: opacity(0);
    width: 25em;
    height: 35em;
    cursor: pointer;
    z-index: 1;
  transform:scale(0.5);
}
.window {
    position: relative;
    box-sizing: border-box;
    width: 25em;
    height: 35em;
    background-color: #d9d9d9;
    border-radius: 5em;
    box-shadow: 
        inset 0 0 8em rgba(0, 0, 0, 0.2),
        0 0 0 0.4em #808080,
        0 0 0 4em whitesmoke,
        0 0 0 4.4em #808080,
        0 2em 4em 4em rgba(0, 0, 0, 0.1);
    overflow: hidden;
  transform: scale(0.5);
}
.window .curtain {
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: whitesmoke;
    top: -5%;
    border-radius: 5em;
    box-shadow:
        0 0 0 0.4em #808080,
        0 0 3em rgba(0, 0, 0, 0.4);
    transition: 0.5s ease-in-out;
    z-index: 2;
}
.window .curtain::after {
    content: '';
    position: absolute;
    width: 1.6em;
    height: 0.8em;
    bottom: 1.6em;
    background-image: radial-gradient(orange, orangered);
    left: calc((100% - 1.6em) / 2);
    top:85%;
    border-radius: 0.4em;
    transform:scale(5);
}
.toggle:checked ~ .window .curtain::after {
    background-image: radial-gradient(lightgreen, limegreen);
}

.logo{
  width:40px; 
  height:40px;
  display:flex;
  position:fixed;
  bottom:5px;
  right:50px;
  z-index:100;
}